@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;900&display=swap');

@font-face {
    font-family: 'Motter Corpus Std';
    font-style: normal;
    font-weight: 400;
    src: local('MotterCorpusStd-Regular'),
    url(/fonts/MotterCorpusStd-Regular.otf),
    url(/fonts/MotterCorpusStd-Regular.svg),
    url(/fonts/MotterCorpusStd-Regular.woff2),
    url(/fonts/MotterCorpusStd-Regular.woff),
    url(/fonts/MotterCorpusStd-Regular.ttf);
}